html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #d6d6d6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: yellow;
  --secondary-bg-color: blue;
  --main-color: red;
  --secondary-color: cyan;
  --text-color-dark-bg: white;
  --text-color-light-bg: black;
  --text-color-link: ;
}

.test123 {
  background-color: darkgray !important;
}
